#possible-answers > div {
    display: inline-block;
    margin: 8px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all 300ms;
}

#possible-answers > div:hover {
    background-color: #ffffff50;
}

#name-input {
    display: block;
    margin: auto;
    margin-bottom: 18px;
}