<h1>Quiz Master</h1>

<div *ngIf="players.length === 0">Waiting for players to join...</div>
<div id="players" *ngIf="players.length > 0">
    Players:
    <ul>
        <li *ngFor="let player of players">
            <span *ngIf="question && guesses[player]">✅&nbsp;</span>
            <span *ngIf="question && !guesses[player]">⏳&nbsp;</span>
            {{player}}
        </li>
    </ul>
</div>

<div *ngIf="!question && players.length > 0">
    <a class="button" (click)="start()">Start</a>
</div>

<div *ngIf="question">
    <a class="button" (click)="revealGuesses()">Reveal guesses</a>
    <a class="button" (click)="revealCorrectAnswer()">Reveal correct answer</a>
    <a class="button" (click)="nextQuestion()">Next question</a>
    <h2 [innerHTML]="question.question"></h2>
    <div id="possible-answers">
        <div *ngFor="let answer of question.possibleAnswers">
            <div class="answer" [ngClass]="{'correct': correctAnswerRevealed && question.correctAnswer === answer}" [innerHTML]="answer"></div>
            <div *ngIf="guessesRevealed">
                <div *ngFor="let player of playersGuessed(answer)">
                    {{player}}
                </div>
            </div>
        </div>
    </div>
</div>
